.star-main{
  background: rgb(231, 199, 205);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.star-div{
  height: 30%;
  width: 40%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.star{
  /* font-size: 50px; */
  color: grey;}


.star-active{
  color: red;
}